@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Você está utilizando o sistema Formulários. Clique nos menus acima para navegar pelo sistema.</p>
</div>
